<!doctype html>
<html lang="en">
<head>
  <title>Main page</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>


<div id="sidebar">

  <div class="navbar-expand-md navbar-dark">

    <header class="d-none d-md-block">
      <h1><span>scrum</span>system</h1>
    </header>


    <div class="mobile-header-controls">
      <a class="navbar-brand d-md-none d-lg-none d-xl-none" href="#"><span>my</span>website</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#SidebarContent" aria-controls="SidebarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div id="SidebarContent" class="collapse flex-column navbar-collapse">


      <nav class="navbar navbar-dark">
        <div id="mainNavbar">
          <ul class="flex-column mr-auto">
            <li class="nav-item active">
              <a class="nav-link" (click)="goMain()">Мои задачи <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" (click)="goFree()">Свободные задачи</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" (click)="goFinished()">Завершенные задачи</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" (click)="goNewtask()">Cоздать и назначить задачу</a>
            </li>

          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>


<div id="content">
  <div id="content-wrapper">

    <!-- Main content area -->
    <main class="container-fluid">
      <div class="row">

        <div class="col-md-8">
          <article>
            <h2 class="article-title"> Мои задачи </h2>

            <p class="article-meta"> Текущие задачи</p>

            <table>

              <tr *ngFor="let task of tasks">
                <th > <span> {{task.name}} </span></th>
                <th>
                  <a  class="btn btn-primary" (click)="readMore(task)" >Читать описание</a>
                  <a  class="btn btn-secondary" style="background-color: darkred;  color: white; border-color: darkred" (click)="finish(task)">Завершить</a>
                </th>
              </tr>



            </table>

          </article>


        </div>

        <aside class="col-md-4">
          <div class="sidebar-box">
            <h4>Полезные ссылки</h4>
            <ul>
              <li><a href="https://ru.wikipedia.org/wiki/SCRUM" title="premium templates">SCRUM</a></li>
              <li><a href="https://www.scrum.org/resources/scrum-guide" title="web hosting">The official scrum guide</a></li>
              <li><a href="http://citforum.ru/SE/project/scrum/" title="Tux Themes">Обзор методологии SCRUM</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </main>


    <!-- Footer -->
    <div class="container-fluid footer-container">
      <footer class="footer">
        <div class="footer-lists">
          <div class="row">
            <div class="col-sm">
              <ul>
                <li><h4>Управление задачами</h4></li>
              </ul>
            </div>
          </div>
        </div>

      </footer>
    </div>
  </div>
</div>

<!-- Bootcamp JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
